*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none ;
}
a{
    text-decoration: none;
}
.container{
    width: 1150px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/* NAVIGATION START */
nav{
    box-shadow: 3px 3px 30px #4444;
}
nav .row{
    align-items: center;
    justify-content: space-between;
}
nav ul{
    padding: 30px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    
    
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-style: 16px;
      line-height: 150%;
    color:#18191f;
    padding: 0 25px ;
}
nav ul li a:hover{
    color: #4CAF4F;
}

nav ul li a.active{
    font-family:"Montserrat", sans-serif ;
    font-weight: 500; 
    font-size: 16px;
    line-height: 150%;
    color: #18191f;
}
nav .sing_up a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #4caf4f ;
    padding: 10px 20px;
}
 nav .sing_up a:last-child{
    background: #4CAF4F ; 
    border-radius: 6px;
    color: #fff;
}
nav .sing_up a:last-child:hover{
    background: transparent ;
    color: #4CAF4F;
    border: 1px solid #4CAF4F;
}



nav .sing_up a:first-child:hover{
    background: #4CAF4F ; 
    border-radius: 6px;
    color: #fff;
   
}
/* NAVIGATION END */

/* BANNER */
#banner{
   background:#F5F7FA;
}
#banner .contains{
width: 60%;
padding: 161.5px 0;
}
#banner .image{
    width: 30%;
    display: flex;
    align-items: center;
   justify-content: center ;
 }
    #banner .image img{
        width: 100%;
    }
    #banner .row{
        justify-content: space-between;
    } 
    #banner h2{
font-family:  "Inter Tight", sans-serif;
font-weight: 600;
font-size: 64px;
line-height: 119%;
color: #4d4d4d;
}
#banner h2 span{
color: #4CAF4F;
}
#banner p{
    font-family:  "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#717171 ;
    margin: 16px 0 32px 0;
}
#banner a{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    background:#9b9898da ;
    padding: 14px 32px;
    display: inline-block;
    border-radius: 6px;
} 
#banner a:hover{
    background: transparent ;
    color: #41a744;
    border: 1px solid #66bb69;
    transform: rotate(360deg); 
    transition: 1s;
}
}
/* BANNER END */